<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td width="30%" style="font-weight: bold;">Field:</td>
            <td id="result-field-name"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Found Value:</td>
            <td id="result-value" style="word-break: break-all;"></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">AI Iterations:</td>
            <td id="result-iterations"></td>
        </tr>
    </tbody>
</table>

<div class="text-right" style="margin-top: 15px;">
    <button
        id="save-enrichment-btn"
        class="btn btn-success"
        data-field=""
        data-value=""
        data-company-id=""
    >
        <i class="ri-save-line"></i>
        Save to Company
    </button>
</div>
